# Server Settings
PORT=80

# JWT Settings
JWT_SECRET=secret

# Database Settings
RDS_DB_NAME=jmeter_test
RDS_USERNAME=postgres
RDS_PASSWORD=posgres
RDS_HOSTNAME=localhost
RDS_PORT=5432

# S3 Settings
USE_S3=false
S3_AWS_REGION=NONE
S3_BUCKET_NAME=NONE
S3_ACCESS=NONE
S3_SECRET=NONE