doctype html
html
    head 
        title (Captcha) JMeter Image Upload
        style 
            include ./include/style.css

    body 
        main.main
            .center-container
                h1.heading Captcha Test
                div !{captchaImage}