doctype html
html
    head 
        title (Error) JMeter Image Upload
        link(rel='stylesheet', href='/public/assets/css/style.css')


    body 
        main.main
            .center-container
                h1.heading #{title}
                p #{message}