doctype html
html
    head 
        title JMeter Image Upload
        style 
            include ./include/style.css

    body 
        main.main
            .center-container
                h1.heading My Files
                p my files