doctype html
html
    head 
        title JMeter Image Upload
        style 
            include ./include/style.css
            include ./include/myfiles.css

    body 
        main.main
            .center-container.myfiles
                h1.heading My Files
                if !files
                    p No Files Uploaded 
                else 
                    p Last 20 Uploaded Files
                    table 
                        thead
                            tr
                                th Name 
                                th Upload Date
                                th Description 
                                th Link 
                        tbody
                            each f in files 
                                tr 
                                    td=f.file_name 
                                    td=dateFormat(f.upload_date )
                                    td=f.file_description
                                    td!=toHref(f.file_url)
                    