doctype html
html
    head 
        title JMeter Image Upload
        style 
            include ./include/style.css

    body 
        main.main
            .center-container
                h1.heading My Files
                if !files
                    p No Files Uploaded 
                else 
                    p Files Uploaded
                    table 
                        tr
                            th Name 
                            th Upload Date 
                            th Download 
                        each f in files 
                            tr 
                                td=f.file_name 
                                td=f.upload_date 
                                td!=toHref(f.file_url)
                    