doctype html
html
    head 
        meta(http-equiv="Refresh" content=`0; url='${url}'`)
        title Redirecting...
        link(rel='stylesheet', href='/public/assets/css/style.css')
    body 
        main.main
            .center-container
                h1.heading #{heading}
                br
                p #{message}
                a.redirect-url(href=url) Click here if you are not redirected