doctype html
html
    head 
        title JMeter Image Upload
        style 
            include ./include/style.css
    body 
        main.main
            .center-container
                h1.heading JMeter Image Upload Test 
                br
                h2 Signup 
                form.login-form(method="POST" action="/signup" enctype="multipart/form-data" ) 
                    label( for="username") Username
                    input(type="text" id="username" name="username")
                    span(class="error" id="usernameError")
                    label( for="email") Email
                    input(type="email" id="email" name="email")
                    span( id="emailError") Optional
                    label( for="password") Password
                    input(type="password" id="password" name="password")
                    span(class="error" id="passwordError")
                    label( for="firstName") First Name
                    input(type="text" id="firstName" name="firstName")
                    span(class="error" id="firstNameError")
                    label( for="lastName") Last Name
                    input(type="text" id="lastName" name="lastName")
                    span(class="error" id="lastNameError") 
                    br
                    input(type="submit" value="Submit")
        script 
            include ./include/validate.js