doctype html
html
    head 
        title JMeter Image Upload
        link(rel='stylesheet', href='/public/assets/css/style.css')
    body 
        main.main
            .center-container
                h1.heading JMeter Image Upload Test 
                br
                h2 Signup 
                p.error #{message}
                form.login-form(method="POST" action="/signup" enctype="multipart/form-data" ) 
                    label( for="username") Username
                    input(type="text" id="username" name="username")
                    span(class="error" id="usernameError")
                    label( for="email") Email
                    input(type="email" id="email" name="email")
                    span( id="emailError") Optional
                    label( for="password") Password
                    input(type="password" id="password" name="password")
                    span(class="error" id="passwordError")
                    label( for="firstname") First Name
                    input(type="text" id="firstName" name="firstname")
                    span(class="error" id="firstNameError")
                    label( for="lastname") Last Name
                    input(type="text" id="lastName" name="lastname")
                    span(class="error" id="lastNameError") 
                    br
                    input(type="submit" value="Submit")
                a.center(href='/login') Login Here
        script(src="/public/assets/js/validate.js") 
