doctype html 
html 
    head 
        title Image Upload Status
        link(rel='stylesheet', href='/public/assets/css/style.css')
    body 
        main.main
            .center-container
                h3.heading.success Image uploaded successfully.
                p
                    span.bold Image Name: 
                    | #{imageName}
                p 
                    span.bold Image Desc: 
                    | #{imageDesc}
                p.bold Link: 
                    a(href=uploadedUrl) Download
                img(src=uploadedUrl)
                p.bold 
                    a(href='/') Upload Another Image
                    br
                    br  
                    span.center
                        a.nav-link(href='/myfiles') My Files
                        a.nav-link(href='/logout') Logout 